html, body {
	margin: 0;
	padding: 0;
  }
  
  h1 {
	letter-spacing: 3px;
	text-align: center;
	font-size: 40px;
  }
  
  h2{
	text-align: center;
  }
  
  header { 
	width:100%;
	z-index:1;
  }
  
  nav {
	background-color: #FF9800;
	position:fixed;
	top:0px;
	width:100%;
	
	
  }
  
  
  nav li{
	text-align:center;
	list-style:none;
	display: inline-block;
	padding: 10px 50px;
	 border: 3px dotted yellow;
  }
  ul li a{
	text-decoration: none;
	color: black;
  }
  
  body{
	text-align: center;
	position:relative;
	top:80px;
  }
  p{
	text-align: justify;
  }
  
  .example{
	background-color: #D9EDBF;
  }
  
  table {
	border: 3px solid brown;
		max-width: 800px;
	margin: 0 auto;
	background-color: #90D26D;
  }
  table td{
	border: 1px solid yellow;
	padding: 0;
  }
  th{
	background-color: #2C7865;
  }
  .rule-description{
	max-width: 800px;
	margin: 0 auto;
	margin-top:30px;
	padding-bottom:20px;
  }